@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Login & SignUp Form */

.form-container {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 0.5rem;
}

.form-logo-container {
  text-align: center;
}

.form-logo-container img {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-container h6 {
  font-family: "Lora", serif;
}

.form-redirect-button {
  color: #009ab8;
  cursor: pointer;
}

.form-redirect-button:hover {
  color: #3dd5f3;
}

.form-alert {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
}

.remember-me-text {
  color: gray;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-size: 1rem;
}

.forgot-password-text {
  color: gray;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-size: 1rem;
}

.swal2-input {
  margin-inline: 0;
}

@media screen and (max-width: 770px) {
  .form-logo-container img {
    max-width: 30%;
  }

  .remember-me-text,
  .forgot-password-text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  .form-logo-container img {
    max-width: 20%;
  }

  .remember-me-text,
  .forgot-password-text {
    font-size: 0.8rem;
  }
}

.forgot-password-text:hover {
  color: darkgray;
}

.form-redirect-button {
  color: #009ab8;
  cursor: pointer;
  text-decoration: none;
}

/* Web Dashboard */
.dashboard-menu-box {
  background-color: #212529;
  color: #3dd5f3;
  padding: 20px;
  height: 130vh;
  padding-top: 150px;
}

.dashboard-menu-box h3 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
  color: white;
}

.dashboard-menu-box h6 {
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #889996;
  padding-top: 15px;
}

.dashboard-menu {
  list-style-type: none;
  padding-left: 80px;
  padding-top: 80px;
}

.dashboard-menu-header {
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.arrow-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.arrow-icon-active {
  transform: rotate(180deg);
}

.dashboard-submenu {
  list-style-type: none;
  padding-left: 20px;
  display: none;
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.dashboard-submenu.active {
  display: block;
  max-height: 500px;
}

.dashboard-faIcon {
  margin-right: 10px;
}

.container-fluid {
  padding: 0;
}

.container-fluid header {
  z-index: 10;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mobile-dashboard-navbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mobile-dashboard-navbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 10px 0 100px;
  width: 100%;
  height: fit-content;
}

.mobile-dashboard-navbar button ul {
  font-size: 0.5em;
  background-color: #212529;
}

.btn-verify {
  background-color: #38bdf8 !important;
  color: white !important;
}

.btn-blue {
  background-color: #38bdf8 !important;
  color: white !important;
}

/* Coming soon 2 */
.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212529;
  color: #ffffff;
  font-family: "Cinzel Decorative", serif;
  text-align: center;
  padding: 0 20px;
}

.content {
  max-width: 500px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  border: 1px solid #16a9cb;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

.content h1 {
  font-size: 64px;
  margin-bottom: 20px;
  color: #00ffff;
  letter-spacing: 2px;
}

.content p {
  font-size: 20px;
  margin-bottom: 0;
  color: #d8d8d8;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .content {
    padding: 30px;
  }

  .content h1 {
    font-size: 56px;
  }

  .content p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 400px;
    padding: 20px;
  }

  .content h1 {
    font-size: 48px;
  }

  .content p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .content {
    max-width: 300px;
    padding: 15px;
  }

  .content h1 {
    font-size: 36px;
  }

  .content p {
    font-size: 14px;
  }
}
