@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Web Footer */

.w-footer h1 {
  font-size: x-large;
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 30px;
}

.w-footer-title:hover .underlineBox-1 {
  padding-right: 35%;   
}

.w-footer-title .underlineBox-1 {
  padding-left: 38%;
  padding-right: 45%;
  transition: padding-right 0.3s ease;
}

.w-footer-title:hover .underlineBox-2 {
  padding-right: 35%;   
}

.w-footer-title .underlineBox-2 {
  padding-left: 30%;
  padding-right: 45%;
  margin-bottom: 20px;
  transition: padding-right 0.3s ease;
}

.w-footer-title:hover .underlineBox-3 {
  padding-right: 35%;   
}

.w-footer-title .underlineBox-3 {
  padding-left: 32%;
  padding-right: 45%;
  margin-bottom: 20px;
  transition: padding-right 0.3s ease;
}

.w-footer-title .underline {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}

.w-footer ul {
  list-style: none;
  padding-left: 20px;
  margin-inline: 20%;
}

.w-footer ul li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: medium;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.w-footer h6,
.w-footer p {
  font-size: medium;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin-inline: 70px;
}

.w-footer p {
  margin-top: 20px;
  width: 280px;
  text-align: justify;
  text-justify: inter-word;
}

.w-footer img,
.w-footer hr {
  margin-inline: 70px;
}

.w-footer img {
  width: 20px;
}

.w-footer hr {
  width: 85%;
  margin-top: 80px;
}

.w-footer-form-button {
  margin-left: 150px;
}

.w-footer-copyright {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.w-footer-icons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.w-footer-icons .col-1 {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.w-footer-icons .col-1:hover {
  transform: scale(1.3);
}

.w-footer-link {
  text-decoration: none;
  color: white;
  transition: font-size 0.3s ease;
}

.w-footer-link:hover {
  font-size: 1.2em;
}

@media only screen and (max-width: 1400px) {
  .w-footer-form-button {
    margin-left: 130px;
  }

  .w-footer-icons {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1200px) {
  .w-footer-form-button {
    margin-left: 120px;
  }

  .w-footer-icons {
    display: flex;
    justify-content: center;
  }

  .w-footer-title .underlineBox-1 {
    padding-left: 38%;
  }

  .w-footer-title .underlineBox-2 {
    padding-left: 20%;
  }

  .w-footer-title .underlineBox-3 {
    padding-left: 22%;
  }
}

/* Mobile Footer */

.m-footer {
  min-width: 250px;
}

.m-footer h1 {
  font-size: x-large;
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 30px;
}

.m-footer-icons {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.m-footer ul {
  list-style: none;
  padding-left: 30%;
}

.m-footer ul li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: medium;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.m-footer h6,
.m-footer p {
  font-size: medium;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin-inline: 70px;
}

.m-footer p {
  margin-top: 20px;
  width: 250px;
  text-align: justify;
  text-justify: inter-word;
}

.m-footer img {
  width: 20px;
  margin-inline: 70px;
}

.m-footer hr {
  width: 85%;
  margin-top: 80px;
}

.m-footer-form-button {
  min-width: 300px;
  padding-left: 100px;
  padding-right: 100px;
}

.m-footer-copyright {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.m-footer-form {
  padding-left: 40px;
  padding-right: 40px;
}

.m-footer-link {
  text-decoration: none;
  color: white;
  transition: font-size 0.3s ease;
}

.m-footer-link:hover {
  font-size: 1.2em;
}

@media only screen and (max-width: 769px) {
  .m-footer h1 {
    font-size: large;
  }

  .m-footer ul {
    padding-left: 25%;
  }

  .m-footer ul li,
  .m-footer p {
    font-size: small;
  }

  .m-footer h6 {
    font-size: x-small;
  }

  .m-footer-form {
    padding-left: 200px;
    padding-right: 200px;
  }

  .m-footer-form-button {
    padding-left: 130px;
    padding-right: 130px;
  }
}

@media only screen and (max-width: 567px) {
  .m-footer h1 {
    font-size: large;
  }

  .m-footer ul li,
  .m-footer h6 {
    font-size: small;
  }

  .m-footer-icons {
    display: flex;
    justify-content: center;
  }

  .m-footer-form {
    padding-left: 80px;
    padding-right: 80px;
  }

  .m-footer-form-button {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media only screen and (max-width: 497px) {
  .m-footer-form {
    padding-left: 20px;
    padding-right: 20px;
  }

  .m-footer-form-button {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 345px) {
  .m-footer p {
    padding-right: 0px;
    font-size: x-small;
  }
}
