@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Web Footer */

.w-footer h1 {
  font-size: x-large;
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 30px;
}

.w-footer ul {
  list-style: none;
  padding-left: 20px;
  margin-inline: 20%;
}

.w-footer ul li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: medium;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.w-footer h6,
.w-footer p {
  font-size: medium;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin-inline: 70px;
}

.w-footer p {
  margin-top: 20px;
  width: 280px;
  text-align: justify;
  text-justify: inter-word;
}

.w-footer img,
.w-footer hr {
  margin-inline: 70px;
}

.w-footer img {
  width: 20px;
}

.w-footer hr {
  width: 85%;
  margin-top: 80px;
}

.w-footer-form-button {
  margin-left: 150px;
}

.w-footer-copyright {
  padding-top: 10px;
  padding-right: 120px;
}

.w-footer-icons {
  padding-left: 420px;
}

@media only screen and (max-width: 1400px) {
  .w-footer-form-button {
    margin-left: 130px;
  }

  .w-footer-icons {
    padding-left: 380px;
  }
}

@media only screen and (max-width: 1200px) {
  .w-footer-form-button {
    margin-left: 120px;
  }

  .w-footer-icons {
    padding-left: 280px;
  }
}

/* Mobile Footer */

.m-footer {
  min-width: 250px;
}

.m-footer h1 {
  font-size: x-large;
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 30px;
}

.m-footer-icons {
  padding-right: 100px;
}

.m-footer ul {
  list-style: none;
  padding-left: 30%;
}

.m-footer ul li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: medium;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.m-footer ul li:before {
  content: ">";
  margin-right: 10px;
  font-size: 0.8em;
  color: #3dd5f3;
}

.m-footer h6,
.m-footer p {
  font-size: medium;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin-inline: 70px;
}

.m-footer p {
  margin-left: 70px;
  margin-top: 20px;
  width: 250px;
  text-align: justify;
  text-justify: inter-word;
}

.m-footer img {
  width: 20px;
  margin-inline: 70px;
}

.m-footer hr {
  width: 85%;
  margin-top: 80px;
}

.m-footer-form-button {
  min-width: 300px;
  padding-left: 300px;
}

.m-footer-copyright {
  padding-top: 10px;
  padding-right: 120px;
}

.m-footer-form {
  padding-left: 80px;
  padding-right: 20px;
}

@media only screen and (max-width: 769px) {
  .m-footer h1 {
    font-size: large;
  }

  .m-footer ul {
    padding-left: 25%;
  }

  .m-footer ul li,
  .m-footer p {
    font-size: small;
  }

  .m-footer h6 {
    font-size: x-small;
  }

  .m-footer-form {
    padding-left: 200px;
    padding-right: 200px;
  }

  .m-footer-form-button {
    padding-left: 260px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 567px) {
  .m-footer h1 {
    font-size: large;
  }

  .m-footer ul li,
  .m-footer h6 {
    font-size: small;
  }

  .m-footer-icons {
    padding-right: 120px;
  }

  .m-footer-form {
    padding-left: 100px;
    padding-right: 60px;
  }

  .m-footer-form-button {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media only screen and (max-width: 497px) {
  .m-footer-form {
    padding-left: 30px;
    padding-right: 0px;
  }

  .m-footer-form-button {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 345px) {
  .m-footer p {
    padding-right: 0px;
    font-size: x-small;
  }
}
